@model Restuarant.Areas.Admin.ViewModels.MasterPartnerModel

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterPartner">Partner</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>
<hr />
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form asp-action="Edit" enctype="multipart/form-data" class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label asp-for="MasterPartnerName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="MasterPartnerName" class="form-control" />

                            </div>
                            <span asp-validation-for="MasterPartnerName" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="MasterPartnerWebsiteUrl" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="MasterPartnerWebsiteUrl" class="form-control" />

                            </div>
                            <span asp-validation-for="MasterPartnerWebsiteUrl" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="File" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-3">
                                <input asp-for="File" class="form-control" />

                            </div>
                            <span asp-validation-for="File" class="text-danger"></span>
                            <input type="hidden" asp-for="MasterPartnerLogoImageUrl" />

                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 d-inline-flex justify-content-end">
                                <a asp-action="Index" class="btn btn-primary btn-backtolist">
                                    Back To List
                                </a>
                                <button type="submit" value="Create" class="btn btn-success">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>