@model Restuarant.Areas.Admin.ViewModels.MasterContactUsInformationModel

@{
    ViewData["Title"] = "Edit";
}
<div class="pagetitle">
    <h1>Create</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterOffer">Contact Us Info</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>
<hr />
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form asp-action="Edit" enctype="multipart/form-data" class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label asp-for="MasterContactUsInformationIdesc" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="MasterContactUsInformationIdesc" class="form-control" />

                            </div>
                            <span asp-validation-for="MasterContactUsInformationIdesc" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="MasterContactUsInformationRedirect" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="MasterContactUsInformationRedirect" class="form-control" />

                            </div>
                            <span asp-validation-for="MasterContactUsInformationRedirect" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="MasterContactUsInformationImageUrl" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="MasterContactUsInformationImageUrl" class="form-control" />

                            </div>
                            <span asp-validation-for="MasterContactUsInformationImageUrl" class="text-danger"></span>
                        </div>
                        <br /> <br />
                        <br /> <br />
                        <div class="row mb-3">
                            <div class="col-sm-12 d-inline-flex justify-content-end">
                                <a asp-action="Index" class="btn btn-primary btn-backtolist">
                                    Back To List
                                </a>
                                <button type="submit" value="Create" class="btn btn-success">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>